@use "sass:math";

// подключение файла с переменными ============================================================================================================================================================================================== =============================================================================================== ===========================================================================================
@import "roots.scss";

@import "base/mixins";

// @import "./libs/bootstrap/bootstrap-functions.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--ff);
$fontSize: rem(16); // где 16x(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1720;
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767); // Телефоны L
$mobileSmall: em(479); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// / Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {
	// По брейк-поинтам
}

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// * {
// 	outline: 4px solid purple !important;
// }

html {
	// @extend %smoothscroll;
	// scroll-behavior: smooth;
	// -webkit-overflow-scrolling: touch;
}

body {
	min-height: 100vh;

	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
		// VAR(--scrol-width)
		padding-right: 8px;
	}

	// Сайт загружен
	.loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	>main {
		padding-top: calc((40px + 30px) + 80px);
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

@import "global/sidebar.scss";

// Подключение стилей отдельных блоков
@import "blocks/accordion.scss";

// Подключение стилей отдельных страниц
@import "pages/dashboard.scss";